<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>学神IT-商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="header_con">
	<div class="header">
		<div class="welcome fl">欢迎来到学神IT!</div>
		<div class="fr">
			{{if eq .userName ""}}
			<div class="login_btn fl">
				<a href="/login">登录</a>
				<span>|</span>
				<a href="/register">注册</a>
			</div>
			{{else}}
			<div class="login_btn fl">
				欢迎您：<em>{{.userName}}</em>
				<span>|</span>
				<a href="/user/logout">退出</a>
			</div>
			{{end}}
			<div class="user_link fl">
				<span>|</span>
				<a href="user_center_info.html">用户中心</a>
				<span>|</span>
				<a href="/user/Cart">我的购物车</a>
				<span>|</span>
				<a href="/user/userCenterOrder">我的订单</a>
			</div>
		</div>
	</div>
</div>

<div class="search_bar clearfix">
	<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
	<div class="search_con fl">
		<form action="/goodsSearch" method="post"  enctype="application/x-www-form-urlencoded">
			<input type="text" class="input_text fl" name="goodsName" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
		</form>
	</div>
	<div class="guest_cart fr">
		<a href="/user/Cart" class="cart_name fl">我的购物车</a>
		<div class="goods_count fl">1</div>
	</div>
</div>

<div class="navbar_con">
	<div class="navbar clearfix">
		<div class="subnav_con fl">
			<h1>全部商品分类</h1>
			<span></span>
			<ul class="subnav">
				{{range .goodsTypes}}
				<li><a href="/goodsList?typeId={{.Id}}" class="{{.Logo}}">{{.Name}}</a></li>
				{{end}}
			</ul>
		</div>
		<ul class="navlist fl">
			<li><a href="">首页</a></li>
			<li class="interval">|</li>
			<li><a href="">手机生鲜</a></li>
			<li class="interval">|</li>
			<li><a href="">抽奖</a></li>
		</ul>
	</div>
</div>

<div class="breadcrumb">
	<a href="#">全部分类</a>
	<span>></span>
	<a href="#">{{.className}}</a>
</div>

<div class="main_wrap clearfix">
	<div class="l_wrap fl clearfix">
		<div class="new_goods">
			<h3>新品推荐</h3>
			<ul>
				{{range .goodsNew}}
				<li>
					<a href="/goodsDetail?id={{.Id}}"><img src="/static/images/goods/{{.Image}}"></a>
					<h4><a href="/goodsDetail?id={{.Id}}">{{.Name}}</a></h4>
					<div class="prize">￥{{.Price}}</div>
				</li>
				{{end}}
			</ul>
		</div>
	</div>

	<div class="r_wrap fr clearfix">
		<div class="sort_bar">
			{{if eq .sort ""}}
			<a href="/goodsList?typeId={{.typeId}}" class="active">默认</a>
			<a href="/goodsList?typeId={{.typeId}}&sort=price">价格</a>
			<a href="/goodsList?typeId={{.typeId}}&sort=sale">人气</a>
			{{else if eq .sort "price"}}
			<a href="/goodsList?typeId={{.typeId}}">默认</a>
			<a href="/goodsList?typeId={{.typeId}}&sort=price" class="active">价格</a>
			<a href="/goodsList?typeId={{.typeId}}&sort=sale">人气</a>
			{{else}}
			<a href="/goodsList?typeId={{.typeId}}">默认</a>
			<a href="/goodsList?typeId={{.typeId}}&sort=price">价格</a>
			<a href="/goodsList?typeId={{.typeId}}&sort=sale"  class="active">人气</a>
			{{end}}
		</div>


		<ul class="goods_type_list clearfix">
			{{range .goods}}
			<li>
				<a href="/goodsDetail?id={{.Id}}"><img src="/static/images/goods/{{.Image}}"></a>
				<h4><a href="/goodsDetail?id={{.Id}}">{{.Name}}</a></h4>
				<div class="operate">
					<span class="prize">￥{{.Price}}</span>
					<span class="unit">{{.Price}}/{{.Unite}}</span>
					<a href="#" class="add_goods" title="加入购物车"></a>
				</div>
			</li>
			{{end}}
		</ul>

	</div>
</div>

<div class="footer">
	<div class="foot_link">
		<a href="#">关于我们</a>
		<span>|</span>
		<a href="#">联系我们</a>
		<span>|</span>
		<a href="#">招聘人才</a>
		<span>|</span>
		<a href="#">友情链接</a>
	</div>
	<p>CopyRight © 2016 北京学神IT信息技术有限公司 All Rights Reserved</p>
	<p>电话：010-****888    京ICP备*******8号</p>
</div>

</body>
</html>