<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>学神IT-用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="header_con">
	<div class="header">
		<div class="welcome fl">欢迎来到学神IT!</div>
		<div class="fr">
			{{if eq .userName ""}}
			<div class="login_btn fl">
				<a href="/login">登录</a>
				<span>|</span>
				<a href="/register">注册</a>
			</div>
			{{else}}
			<div class="login_btn fl">
				欢迎您：<em>{{.userName}}</em>
				<span>|</span>
				<a href="/user/logout">退出</a>
			</div>
			{{end}}
			<div class="user_link fl">
				<span>|</span>
				<a href="/user/userCenterInfo">用户中心</a>
				<span>|</span>
				<a href="/user/Cart">我的购物车</a>
				<span>|</span>
				<a href="/user/userCenterOrder">我的订单</a>
			</div>
		</div>
	</div>
</div>

<div class="search_bar clearfix">
	<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
	<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
	<div class="search_con fr">
		<input type="text" class="input_text fl" name="" placeholder="搜索商品">
		<input type="button" class="input_btn fr" name="" value="搜索">
	</div>
</div>

<div class="main_con clearfix">
	<div class="left_menu_con clearfix">
		<h3>用户中心</h3>
		<ul>
			<li><a href="/user/userCenterInfo">· 个人信息</a></li>
			<li><a href="/user/userCenterOrder" class="active">· 全部订单</a></li>
			<li><a href="/user/userCenterSite">· 收货地址</a></li>
		</ul>
	</div>
	<div class="right_content clearfix">
		<h3 class="common_title2">全部订单</h3>
		{{range .goodsBuffer}}
		<ul class="order_list_th w978 clearfix">
			<li class="col01">{{.orderInfo.Time}}</li>
			<li class="col02">订单号：{{.orderInfo.OrderId}}</li>
			<li class="col02 stress">{{if eq .orderInfo.Orderstatus 1}}未支付{{else}}已支付{{end}}</li>
		</ul>

		<table class="order_list_table w980">
			<tbody>
			<tr>
				<td width="55%">
					{{range .orders}}
					<ul class="order_goods_list clearfix">
						<li class="col01"><img src="/static/images/goods/{{.GoodsSKU.Image}}"></li>
						<li class="col02">{{.GoodsSKU.Name}}<em>{{.GoodsSKU.Price}}元/{{.GoodsSKU.Unite}}</em></li>
						<li class="col03">{{.OrderGoods.Count}}</li>
						<li class="col04">{{.OrderGoods.Price}}元</li>
						{{end}}
					</ul>

				</td>
				<td width="15%">{{.orderInfo.TotalPrice}}元</td>
				<td width="15%">{{if eq .orderInfo.Orderstatus 1}}未支付{{else}}已支付{{end}}</td>
				<td width="15%">{{if eq .orderInfo.Orderstatus 1}}<a
						href="/user/pay?orderId={{.orderInfo.OrderId}}&totalPrice={{.orderInfo.TotalPrice}}"
						class="oper_btn">去付款</a>{{else}}已支付{{end}}
				</td>
			</tr>
			</tbody>
		</table>
		{{end}}

		<div class="pagenation">
			<a href="#">&lt;上一页</a>
			<a href="#" class="active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">下一页></a>
		</div>
	</div>
</div>


<div class="footer">
	<div class="foot_link">
		<a href="#">关于我们</a>
		<span>|</span>
		<a href="#">联系我们</a>
		<span>|</span>
		<a href="#">招聘人才</a>
		<span>|</span>
		<a href="#">友情链接</a>
	</div>
	<p>CopyRight © 2016 北京学神IT信息技术有限公司 All Rights Reserved</p>
	<p>电话：010-****888 京ICP备*******8号</p>
</div>

</body>
</html>